@page "/"
@using PieShop.UI.Pages;
@using PieShop.UI.Components;


<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Welcome to Bethany's Pie Shop HRM!</h1>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-8">
        <NewsWidget />


            @*You can pass parameter here*@
        <TaskList Count="3" />
    </div>

    <div class="col-md-4">
        <NewEmployeesWidget />

        <div id="reportConcern" class="widget">
            <h3>Report a Concern</h3>
            <p>It's simple, safe and anonymous.</p>

            
        </div>
    </div>
</div>

