@page "/surveys"

<div class="entity-edit">
    <h1 class="page-title">All Surveys</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Survey ID</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Surveys) { 
            <tr>
                <td>@survey.SurveyId</td>
                <td>@survey.Title</td>
                <td>@survey.Description</td>
                <td>
                    <a href="@($"survey/{survey.SurveyId}")" class="btn btn-outline-primary table-btn">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>